@mixin resetStyles {
	margin: 0;
	padding: 0;
}

@mixin grid {
	display: grid;
	grid-template: repeat(4, auto) / repeat(2, 1fr);
}

@mixin gridMobile {
	display: grid;
	grid-template: repeat(4, auto) / 1fr;
}

@mixin coverageIcon {
	position: absolute;
	width: 100px;
	height: 40px;
	left: 0;
	bottom: 16px;
}
