@mixin resetStyles {
	margin: 0;
	padding: 0;
}

@mixin coverageIcon {
	position: absolute;
	width: 100px;
	height: 40px;
	left: 0;
	bottom: 16px;
	background-size: cover;
}

@mixin coverageIconMobile {
	position: absolute;
	width: 70px;
	height: 28px;
	left: 0;
	bottom: 14px;
}
