.header {
	background-color: inherit;
	margin: 0 auto;
	box-sizing: border-box;
	max-width: inherit;
	width: 100%;
	height: 74px;
	top: 0;
	padding: 28px 0;
	position: fixed;
	z-index: 3;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	&__list {
		@include resetStyles;
		display: none;
		list-style-type: none;
		color: inherit;
		font-weight: $mediumFont;
		font-size: 14px;
		line-height: 1.29;

		&_plase_header {
			display: grid;
			padding-right: 120px;
			grid-template-columns: repeat(3, max-content);
			gap: 34px;
		}

		&_plase_burger {
			background-color: $primary-color;
			font-size: 18px;
			line-height: 1;
			display: none;

			&_theme_dark {
				background-color: $primary-color-dark;
			}
		}

		&_plase_burger-active {
			display: flex;
		}
	}

	&__link {
		text-decoration: none;
		color: inherit;
		transition: $transition-opacity;

		&:hover {
			opacity: $primary-opacity;
		}
	}

	&__burger {
		display: none;
	}

	&__burger-open {
		display: none;
		width: 22px;
		height: 19px;
		background-image: url(../images/burger-light.svg);

		&_theme_dark {
			background-image: url(../images/burger-dark.svg);
		}

		&_active {
			display: block;
			cursor: pointer;
			transition: $transition-opacity;

			&:hover {
				opacity: $secordary-opacity;
			}
		}
	}

	&__burger-close {
		display: none;
		width: 22px;
		height: 22px;

		background-image: url(../images/closeburger-light.svg);

		&_theme_dark {
			background-image: url(../images/closeburger-dark.svg);
		}

		&_active {
			display: block;
			cursor: pointer;
			background-position: center;
			transition: $transition-opacity;

			&:hover {
				opacity: $secordary-opacity;
			}
		}
	}
}

@media all and (max-width: $tablets) {
	.header {
		padding: 0 18px;

		&__list {
			&_plase_header {
				padding-right: 0;
			}
		}
	}
}

@media all and (max-width: $phones) {
	.header {
		&__list {
			&_plase_header {
				display: none;
			}

			&_plase_burger {
				position: absolute;
				height: 566px;
				flex-direction: column;
				row-gap: 34px;
				width: 100%;
				margin: auto;
				padding: 70px 0 0;
				top: 74px;
				left: 0;
				right: 0;
				align-items: center;
			}
		}
		&__burger {
			display: flex;
			flex-direction: column;
		}
	}
}
