.lead {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 838px;
	align-content: space-between;
	row-gap: 50px;

	&__image {
		position: relative;
		width: 100%;
		max-width: 610px;
		height: 100%;
		justify-self: end;
		background-image: url("../images/leadimage.jpg");
		object-fit: cover;
		background-repeat: no-repeat;
		background-size: cover;
		order: 5;
	}

	&__sticky-block {
		position: sticky;
		box-sizing: border-box;
		top: 0;
		margin-top: 347px;
		margin-bottom: 79px;
		max-width: 440px;
		height: 300px;
		background-color: $primary-color;
		border-radius: 20px;
		box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.2);
		background-image: url("../images/CannondaleSystemsixHimod.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		object-fit: cover;
		padding: 20px 50px;
		transform: translate(-200px, 0);
	}

	&__text {
		padding-top: 80px;
		max-width: 430px;
		min-width: min-content;
	}

	&__button {
		color: $primary-text-color-dark;
		order: 3;
		width: 180px;
		height: 50px;
		border: none;
		border-radius: 4px;
		background: linear-gradient(to left, #24b47e 50%, #319e75 50%) right;
		background-size: 100%;
		cursor: pointer;
		transition: background-position 0.5s ease-out;

		&:hover {
			background-position: left;
		}
	}

	&__caption {
		display: flex;
		@include resetStyles;
		margin-top: 117px;
		font-weight: $regularFont;
		font-size: 18px;
		line-height: 1;
		order: 4;

		&::after {
			content: "";
			align-self: center;
			display: flex;
			margin-left: 30px;
			width: 132px;
			height: 2px;
			background-color: #d7d4d4;
		}
	}
}

@media all and (max-width: $desctop) {
	.lead {
		height: 650px;

		&__caption {
			margin-top: 50px;
			margin-bottom: 50px;
		}

		&__image {
			max-width: 474px;
		}

		&__sticky-block {
			margin-top: 200px;
			margin-bottom: 40px;
			max-width: 320px;
			height: 220px;
			transform: translate(-30px, 0);
			padding: 11px 27px;
		}
	}
}

@media all and (max-width: $laptop) {
	.lead {
		height: 511px;

		&__image {
			max-width: 373px;
		}

		&__caption {
			display: none;
		}
	}
}



@media all and (max-width:  $tablets) {
	.lead {
		height: auto;
		row-gap: 40px;

		&__button {
			width: 100%;
			height: 46px;
			order: 5;
		}

		&__image {
			width: 100%;
			max-width: 100%;
			height: 348px;
			background-position-y: center;
			order: 2;
		}

		&__caption {
			display: none;
		}

		&__sticky-block {
			margin-top: 123px;
			margin-bottom: 37px;
			max-width: 234px;
			height: 160px;
			transform: translate(-30px, 0);
			padding: 11px 27px;
		}
	}
}

@media all and (max-width:  $phones-small) {
	.lead {
			&__image {
			width: 254px;
			background-size: contain;
			align-self: end;
			background-position-y: center;
			order: 2;
		}
	}
}
