.lead {
	@include grid;
	gap: 50px;
	grid-template-areas:
		"section-title lead-image"
		"section-subtitle lead-image"
		"lead-button lead-image"
		"lead-caption lead-image";

	&__text {
		padding-top: 80px;
		max-width: 430px;
		min-width: min-content;
	}

	&__button {
		grid-area: lead-button;
		color: $primary-text-color-dark;
		width: 180px;
		height: 50px;
		border: none;
		border-radius: 4px;
		background: linear-gradient(to left, #24b47e 50%, #319e75 50%) right;
		background-size: 200%;
		transition: background-position 0.5s ease-out;

		&:hover {
			background-position: left;
		}
	}

	&__caption {
		display: flex;
		grid-area: lead-caption;
		@include resetStyles;
		margin-top: 117px;
		margin-bottom: 209px;
		font-weight: $regularFont;
		font-size: 18px;
		line-height: 1;

		&::after {
			content: "";
			align-self: center;
			display: flex;
			margin-left: 30px;
			width: 132px;
			height: 2px;
			background-color: #d7d4d4;
		}
	}

	&__image {
		position: relative;
		width: 100%;
		max-width: 610px;
		grid-area: lead-image;
		height: 836px;
		justify-self: end;
		background-image: url("../images/leadimage.jpg");
		object-fit: cover;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__sticky-block {
		position: sticky;
		box-sizing: border-box;
		top: 0;
		margin-top: 347px;
		margin-bottom: 79px;
		max-width: 440px;
		height: 300px;
		background-color: $primary-color;
		border-radius: 20px;
		box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
		background-image: url("../images/CannondaleSystemsixHimod.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		object-fit: cover;
		padding: 20px 50px;
		transform: translate(-200px, 0);
	}
}

@media all and (max-width: $desctop) {
	.lead {
		@include gridMobile;
		gap: 40px;
		grid-template-areas:
			"section-title"
			"lead-image"
			"section-subtitle"
			"lead-button";

		&__button {
			width: 100%;
			height: 46px;
		}

		&__caption {
			display: none;
		}

		&__image {
			height: 348px;
			background-size: contain;
		}

		&__sticky-block {
			margin-top: 123px;
			margin-bottom: 37px;
			max-width: 234px;
			height: 160px;
			transform: translate(-30px, 0);
			padding: 11px 27px;
		}
	}
}
