.main {
	display: grid;
	row-gap: 120px;
	box-sizing: border-box;
	padding: 94px 0 120px 120px;
}

@media all and (max-width: $desctop) {
	.main {
		padding: 34px 18px 60px;
	}
}

@media all and (max-width: $tablets) {
	.main {
		row-gap: 80px;
	}
}
