.section-title {
	@include resetStyles;
	display: block;
	order: 1;
	max-width: 440px;
	font-weight: $boldFont;
	font-size: 55px;
	line-height: 1.09;
	letter-spacing: -0.5px;

	&_place_lead {
		margin-top: 60px;
	}
}

@media all and (max-width: $desctop) {
	.section-title {
		font-size: 32px;
		line-height: 1.25;

		&_place_lead {
			margin-top: 40px;
		}
	}
}

@media all and (max-width: $tablets) {
	.section-title {
		width: 100%;
		max-width: max-content;
		padding-top: 40px;
		border-top: 1px solid #e3e3e3;
	}
}

