.switch {
	height: 24px;

	&_place_header {
		display: none;
	}
	&_place_footer {
		display: flex;
		margin-right: 164px;
	}

	&__content {
		text-align: center;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			left: -50px;
			width: 28px;
			height: 28px;
			background-position: center;
			background-image: url(../images/light-theme-light.svg);
			background-repeat: no-repeat;
		}

		&::after {
			content: "";
			position: absolute;
			right: -50px;
			width: 28px;
			height: 28px;
			background-position: center;
			background-image: url(../images/dark-theme-light.svg);
			background-repeat: no-repeat;
		}

		&_theme_dark {
			&::before {
				background-image: url(../images/light-theme-dark.svg);
			}

			&::after {
				background-image: url(../images/dark-theme-dark.svg);
			}
		}
	}

	&__btn {
		display: inline-block;
		width: 44px;
		height: 24px;
		border-radius: 19px;
		background: $primary-text-color-dark;
		z-index: 0;
		margin: 0;
		padding: 0;
		border: none;
		cursor: pointer;
		position: relative;
		transition-duration: 300ms;

		&::after {
			content: "";
			height: 20px;
			width: 20px;
			border-radius: 17px;
			background: #24b47e;
			top: 2px;
			left: 2px;
			transition-duration: 300ms;
			position: absolute;
			z-index: 1;
		}

		&_switch_dark {
			background: #545454;

			&::after {
				content: "";
				left: 22px;
			}
		}
	}
}

@media all and (max-width: $tablets) {
	.switch {
		&_place_footer {
			margin-right: 44px;
		}
	}
}

@media all and (max-width: $phones) {
	.switch {
		&_place_header {
			display: flex;
			justify-self: flex-end;
			margin-top: 316px;
		}

		&_place_footer {
			display: none;
		}
	}
}
